[Unit]
Description=Mopidy Music Server
After=avahi-daemon.service
After=dbus.service
After=network.service
After=nss-lookup.target
After=remote-fs.target
After=sound.target

[Service]
Environment=MOPIDY_CONF=~/.config/mopidy/main.conf
Environment=MOPIDY_CONF_DIR=~/.config/mopidy/conf.d/*.conf
Environment=MOPIDY_AUTH_DIR=~/.config/auth.d/*.conf
ExecStart=/bin/mopidy \
  --config ${MOPIDY_CONF_DIR}:${MOPIDY_AUTH_DIR}:${MOPIDY_CONF}

[Install]
WantedBy=default.target
