[core]
excludesfile = ~/station/global_gitignore
pager = delta

[filter "lfs"]
required = true
clean    = git-lfs clean -- %f
smudge   = git-lfs smudge -- %f
process  = git-lfs filter-process

[init]
defaultBranch = master

[pull]
rebase = false

[interactive]
difffilter = delta --color-only

[add.interactive]
useBuiltin = false

[delta]
navigate     = true
light        = false
side-by-side = true
line-numbers = true

[merge]
conflictstyle = diff3

[diff]
colorMoved = default

[includeIf "gitdir:~/.station"]
  path = ~/station/station.gitconfig

[user]
	name = DPPereyra
	email = mail@dppereyra.me
