prefix=${STATION_HOME}/npm

@<SCOPE>:registry=${NPM_REGISTRY}
//${NPM_REGISTRY}:_password=${NPM_PASSWORD}
//${NPM_REGISTRY}:username=${NPM_USERNAME}
//${NPM_REGISTRY}:email=${NPM_USERMAIL}
//${NPM_REGISTRY}:always-auth=true
